Repository MKoding/laravel-docker, pull requests merged in 2021-05, with the labels that each got.

#20 [] - Pre-commit updated
  README.md
  git-hooks/pre-commit
  src/.env.example
  src/app/Http/Controllers/StatusController.php
Labels: automation, code quality, good practices

#22 [] - 540 new update for the project
  mysql/laravel/migrations.frm
  mysql/laravel/migrations.ibd
  mysql/laravel/users.frm
  mysql/laravel/users.ibd
  mysql/mysql/innodb_index_stats.ibd
  mysql/mysql/innodb_table_stats.ibd
  src/app/DataSource/Database/EloquentUserDataSource.php
  src/app/Http/Controllers/IsEarlyAdopterUserController.php
  src/app/Http/Controllers/TestController.php
  src/app/Models/User.php
  src/app/Providers/AppServiceProvider.php
  src/app/Services/EarlyAdopter/IsEarlyAdopterService.php
  src/config/app.php
  src/config/database.php
  src/database/factories/UserFactory.php
  src/database/migrations/2014_10_12_000000_create_users_table.php
  src/database/migrations/2014_10_12_100000_create_password_resets_table.php
  src/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
  src/phpunit.xml
  src/routes/api.php
  src/tests/Feature/ExampleTest.php
  src/tests/Integration/Controller/IsEarlyAdopterUserControllerTest.php
  src/tests/Integration/DataSources/EloquentUserDataSourceTest.php
  src/tests/Unit/ExampleTest.php
  src/tests/Unit/Services/EarlyAdopter/IsEarlyAdopterServiceTest.php
Labels: database, feature, test

#23 [#11] - Endpoint create wallet cryptocurrency
  src/app/DataSource/Database/ElocuentWalletDataSource.php
  src/app/Http/Controllers/WalletController.php
  src/app/Services/Wallet/WalletService.php
  src/routes/api.php
Labels: feature

#26 [] - Updated database migrations and seeders with users table
  src/database/migrations/2014_10_12_000000_create_users_table.php
  src/database/migrations/2021_05_11_104022_create_wallets_table.php
  src/database/seeders/DatabaseSeeder.php
  src/routes/api.php
Labels: database

#27 [#11] - Updated and closed issue #11 'Get wallet by id'
  src/app/DataSource/Database/ElocuentWalletDataSource.php
  src/app/DataSource/Database/EloquentWalletDataSource.php
  src/app/DataSource/External/CoinLoreDataSource.php
  src/app/Http/Controllers/WalletController.php
  src/app/Services/Wallet/WalletService.php
  src/database/seeders/DatabaseSeeder.php
Labels: database, feature

#29 [#1|#8] - Closed issues #1 and #8 'Buy and sell coins endpoints'
  src/app/DataSource/Database/EloquentCoinDataSource.php
  src/app/DataSource/Database/EloquentWalletCoinDataSource.php
  src/app/DataSource/Database/EloquentWalletDataSource.php
  src/app/Http/Controllers/CoinController.php
  src/app/Services/Coin/CoinService.php
  src/database/migrations/2021_05_11_104022_create_wallets_table.php
  src/database/migrations/2021_05_11_110302_create_walletscoins_table.php
  src/routes/api.php
Labels: database, feature

#30 [#12] - Closed issue #12 'Get wallet balance by id'
  src/app/DataSource/Database/EloquentWalletDataSource.php
  src/app/Http/Controllers/WalletController.php
  src/app/Services/Wallet/WalletService.php
  src/routes/api.php
Labels: feature

#31 [#10] - Closed issue #10 'Open wallet by user id'
  src/app/DataSource/Database/EloquentCoinDataSource.php
  src/app/DataSource/Database/EloquentUser540DataSource.php
  src/app/DataSource/Database/EloquentUserDataSource.php
  src/app/DataSource/Database/EloquentWalletDataSource.php
  src/app/Http/Controllers/WalletController.php
  src/app/Providers/AppServiceProvider.php
  src/app/Services/EarlyAdopter/IsEarlyAdopterService.php
  src/app/Services/Wallet/WalletService.php
  src/routes/api.php
  src/tests/Integration/DataSources/EloquentUserDataSourceTest.php
  src/tests/Integration/DataSources/EloquentWalletDataSourceTest.php
  src/tests/Unit/Services/EarlyAdopter/IsEarlyAdopterServiceTest.php
Labels: feature, test

#33 [#32|#9] - Closed issues #32 and #9 'Buy and sell coins unit tests'
  src/app/Services/Wallet/WalletService.php
  src/tests/Unit/Services/Coin/CoinServiceTest.php
  src/tests/Unit/Services/Wallet/WalletServiceTest.php
Labels: test

#34 [#15] - Closed issue #15 'Get wallet balance by id unit tests'
  src/app/Services/Wallet/WalletService.php
  src/tests/Unit/Services/Coin/CoinServiceTest.php
  src/tests/Unit/Services/Wallet/WalletServiceTest.php
Labels: test

#40 [] - Fixed multiple bugs and improved code quality
  src/app/DataSource/Database/EloquentCoinDataSource.php
  src/app/DataSource/Database/EloquentUserDataSource.php
  src/app/DataSource/Database/EloquentWalletCoinDataSource.php
  src/app/DataSource/Database/EloquentWalletDataSource.php
  src/app/DataSource/External/CoinLoreDataSource.php
  src/app/Services/Coin/CoinService.php
  src/app/Services/Wallet/WalletService.php
  src/tests/Unit/Services/Coin/CoinServiceTest.php
  src/tests/Unit/Services/Wallet/WalletServiceTest.php
Labels: code quality, test

#41 [#5] - Closed issue #5 'Create auto validation for laravel project'
  .github/labeler.yml
  .github/workflows/validation.yml
  README.md
Labels: automation, code quality, good practices

#42 [] - Updated README.md
  .github/labeler.yml
  README.md
Labels: readme

#44 [] - Multiple bugs fixed in the tests and datasources
  src/app/DataSource/External/CoinLoreDataSource.php
  src/tests/Integration/DataSources/CoinLoreDataSourceTest.php
  src/tests/Integration/DataSources/EloquentWalletCoinDataSourceTest.php
  src/tests/Unit/Services/Coin/CoinServiceTest.php
  src/tests/Unit/Services/Wallet/WalletServiceTest.php
Labels: feature, tests

#45 [#16] - Closed issue #16 'Create all the E2E tests for the laravel project'
  src/phpunit.xml
  src/tests/E2E/E2ETest.php
Labels: tests

#46 [] - Refactor of the code by splitting API functions in different classes and tests
  src/app/Http/Controllers/GetWalletBalanceController.php
  src/app/Http/Controllers/GetWalletController.php
  src/app/Http/Controllers/PostCoinBuyController.php
  src/app/Http/Controllers/PostCoinSellController.php
  src/app/Http/Controllers/PostWalletOpenController.php
  src/app/Http/Controllers/WalletController.php
  src/app/Services/Coin/PostCoinBuyService.php
  src/app/Services/Coin/PostCoinSellService.php
  src/app/Services/Wallet/GetWalletBalanceService.php
  src/app/Services/Wallet/GetWalletService.php
  src/app/Services/Wallet/PostWalletOpenService.php
  src/routes/api.php
  src/tests/Integration/Controller/GetWalletBalanceControllerTest.php
  src/tests/Integration/Controller/GetWalletControllerTest.php
  src/tests/Integration/Controller/PostCoinBuyControllerTest.php
  src/tests/Integration/Controller/PostCoinSellControllerTest.php
  src/tests/Integration/Controller/PostWalletOpenControllerTest.php
  src/tests/Unit/Services/Coin/PostCoinBuyServiceTest.php
  src/tests/Unit/Services/Coin/PostCoinSellServiceTest.php
  src/tests/Unit/Services/Wallet/GetWalletBalanceServiceTest.php
  src/tests/Unit/Services/Wallet/GetWalletServiceTest.php
  src/tests/Unit/Services/Wallet/PostWalletOpenServiceTest.php
Labels: code quality, feature, tests
